@import 'nib'

body {
  margin: 0;
  padding: 0;
}

.ball {
  transform: translate3d(0, 0, 0);

  width: 50px;
  height: 50px;
  border-radius: 25px;

  background: #1e5799;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#7db9e8), color-stop(100%,#1e5799));
  background: -webkit-radial-gradient(center, ellipse cover,  #7db9e8 1%,#1e5799 100%);
  background: radial-gradient(center, ellipse cover,  #7db9e8 1%,#1e5799 100%);

}
